In [1]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [4]:
variaveis = [
      {
        'variavel': 'survived',
        'descricao': 'se a pessoa sobreviveu',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
      },
      {
        'variavel': 'pclass',
        'descricao': 'a classe em que se localiza',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
      },
      {
        'variavel': 'sex',
        'descricao': 'sexo do individuo',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
      },
      {
        'variavel': 'age',
        'descricao': 'idade do individuo',
        'tipo': 'quantitativa',
        'subtipo': 'discreta'
      },
      {
        'variavel': 'sibsp',
        'descricao': '',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
      },
      {
        'variavel': 'parch',
        'descricao': '',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
      },
      {
        'variavel': 'fare',
        'descricao': 'tarifa',
        'tipo': 'quantitativa',
        'subtipo': 'continiua'
      },
      {
        'variavel': 'embarked',
        'descricao': 'localizacao do embarque',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
      },
      {
        'variavel': 'class',
        'descricao': 'classe da pessoa',
        'tipo': 'qualitativa',
        'subtipo': 'ordinal'
      },
      {
        'variavel': 'who',
        'descricao': 'homem, mulher ou crianca',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
      },
      {
        'variavel': 'adult_male',
        'descricao': 'homem adulto',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
      },
      {
        'variavel': 'deck',
        'descricao': 'localizacao do deck',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
      },
      {
        'variavel': 'embark_town',
        'descricao': 'cidade de embarque',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
      },
      {
        'variavel': 'alive',
        'descricao': 'se vivo ou nao',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
      },
      {
        'variavel': 'alone',
        'descricao': 'se a pessoa estava acompanhada',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
      }
]

df_dict = pd.DataFrame(variaveis)
print(df_dict)

       variavel                       descricao          tipo    subtipo
0      survived          se a pessoa sobreviveu   qualitativa    ordinal
1        pclass     a classe em que se localiza   qualitativa    ordinal
2           sex               sexo do individuo   qualitativa    nominal
3           age              idade do individuo  quantitativa   discreta
4         sibsp                                   qualitativa    ordinal
5         parch                                   qualitativa    ordinal
6          fare                          tarifa  quantitativa  continiua
7      embarked         localizacao do embarque   qualitativa    nominal
8         class                classe da pessoa   qualitativa    ordinal
9           who        homem, mulher ou crianca   qualitativa    nominal
10   adult_male                    homem adulto   qualitativa    nominal
11         deck             localizacao do deck   qualitativa    nominal
12  embark_town              cidade de embarque   qualitativa    nominal
13        alive                  se vivo ou nao   qualitativa    nominal
14        alone  se a pessoa estava acompanhada   qualitativa    nominal

In [5]:
## estatisticas dos dados

## variaveis qualitativas

df[['survived','pclass','sex','embarked','class','who','adult_male','deck','embark_town','alive','alone']].mode()

,survived,pclass,sex,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,S,Third,man,True,C,Southampton,no,True

In [6]:
## variaveis quantitativas

df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [7]:
df.describe

<bound method NDFrame.describe of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

In [8]:
df[['age','fare']].median()

age     28.0000
fare    14.4542
dtype: float64

In [11]:
qualitativa_variaveis = ['survived', 'pclass', 'sex', 'embarked', 'who', 'adult_male', 'embark_town', 'alive', 'alone']

for variavel in qualitativa_variaveis:
    valores_unicos = df[variavel].unique()
    for valor in valores_unicos:
        print(f'VariÃ¡vel: {variavel}, Valor: {valor}')
        subamostra = df[df[variavel] == valor]
        display(subamostra.describe())

VariÃ¡vel: survived, Valor: 0

       survived      pclass         age       sibsp       parch        fare
count     549.0  549.000000  424.000000  549.000000  549.000000  549.000000
mean        0.0    2.531876   30.626179    0.553734    0.329690   22.117887
std         0.0    0.735805   14.172110    1.288399    0.823166   31.388207
min         0.0    1.000000    1.000000    0.000000    0.000000    0.000000
25%         0.0    2.000000   21.000000    0.000000    0.000000    7.854200
50%         0.0    3.000000   28.000000    0.000000    0.000000   10.500000
75%         0.0    3.000000   39.000000    1.000000    0.000000   26.000000
max         0.0    3.000000   74.000000    8.000000    6.000000  263.000000

VariÃ¡vel: survived, Valor: 1

       survived      pclass         age       sibsp       parch        fare
count     342.0  342.000000  290.000000  342.000000  342.000000  342.000000
mean        1.0    1.950292   28.343690    0.473684    0.464912   48.395408
std         0.0    0.863321   14.950952    0.708688    0.771712   66.596998
min         1.0    1.000000    0.420000    0.000000    0.000000    0.000000
25%         1.0    1.000000   19.000000    0.000000    0.000000   12.475000
50%         1.0    2.000000   28.000000    0.000000    0.000000   26.000000
75%         1.0    3.000000   36.000000    1.000000    1.000000   57.000000
max         1.0    3.000000   80.000000    4.000000    5.000000  512.329200

VariÃ¡vel: pclass, Valor: 3

         survived  pclass         age       sibsp       parch        fare
count  491.000000   491.0  355.000000  491.000000  491.000000  491.000000
mean     0.242363     3.0   25.140620    0.615071    0.393075   13.675550
std      0.428949     0.0   12.495398    1.374883    0.888861   11.778142
min      0.000000     3.0    0.420000    0.000000    0.000000    0.000000
25%      0.000000     3.0   18.000000    0.000000    0.000000    7.750000
50%      0.000000     3.0   24.000000    0.000000    0.000000    8.050000
75%      0.000000     3.0   32.000000    1.000000    0.000000   15.500000
max      1.000000     3.0   74.000000    8.000000    6.000000   69.550000

VariÃ¡vel: pclass, Valor: 1

         survived  pclass         age       sibsp       parch        fare
count  216.000000   216.0  186.000000  216.000000  216.000000  216.000000
mean     0.629630     1.0   38.233441    0.416667    0.356481   84.154687
std      0.484026     0.0   14.802856    0.611898    0.693997   78.380373
min      0.000000     1.0    0.920000    0.000000    0.000000    0.000000
25%      0.000000     1.0   27.000000    0.000000    0.000000   30.923950
50%      1.000000     1.0   37.000000    0.000000    0.000000   60.287500
75%      1.000000     1.0   49.000000    1.000000    0.000000   93.500000
max      1.000000     1.0   80.000000    3.000000    4.000000  512.329200

VariÃ¡vel: pclass, Valor: 2

         survived  pclass         age       sibsp       parch        fare
count  184.000000   184.0  173.000000  184.000000  184.000000  184.000000
mean     0.472826     2.0   29.877630    0.402174    0.380435   20.662183
std      0.500623     0.0   14.001077    0.601633    0.690963   13.417399
min      0.000000     2.0    0.670000    0.000000    0.000000    0.000000
25%      0.000000     2.0   23.000000    0.000000    0.000000   13.000000
50%      0.000000     2.0   29.000000    0.000000    0.000000   14.250000
75%      1.000000     2.0   36.000000    1.000000    1.000000   26.000000
max      1.000000     2.0   70.000000    3.000000    3.000000   73.500000

VariÃ¡vel: sex, Valor: male

         survived      pclass         age       sibsp       parch        fare
count  577.000000  577.000000  453.000000  577.000000  577.000000  577.000000
mean     0.188908    2.389948   30.726645    0.429809    0.235702   25.523893
std      0.391775    0.813580   14.678201    1.061811    0.612294   43.138263
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   29.000000    0.000000    0.000000   10.500000
75%      0.000000    3.000000   39.000000    0.000000    0.000000   26.550000
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

VariÃ¡vel: sex, Valor: female

         survived      pclass         age       sibsp       parch        fare
count  314.000000  314.000000  261.000000  314.000000  314.000000  314.000000
mean     0.742038    2.159236   27.915709    0.694268    0.649682   44.479818
std      0.438211    0.857290   14.110146    1.156520    1.022846   57.997698
min      0.000000    1.000000    0.750000    0.000000    0.000000    6.750000
25%      0.000000    1.000000   18.000000    0.000000    0.000000   12.071875
50%      1.000000    2.000000   27.000000    0.000000    0.000000   23.000000
75%      1.000000    3.000000   37.000000    1.000000    1.000000   55.000000
max      1.000000    3.000000   63.000000    8.000000    6.000000  512.329200

VariÃ¡vel: embarked, Valor: S

         survived      pclass         age       sibsp       parch        fare
count  644.000000  644.000000  554.000000  644.000000  644.000000  644.000000
mean     0.336957    2.350932   29.445397    0.571429    0.413043   27.079812
std      0.473037    0.789402   14.143192    1.216600    0.853253   35.887993
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    8.050000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   13.000000
75%      1.000000    3.000000   38.000000    1.000000    0.000000   27.900000
max      1.000000    3.000000   80.000000    8.000000    6.000000  263.000000

VariÃ¡vel: embarked, Valor: C

         survived      pclass         age       sibsp       parch        fare
count  168.000000  168.000000  130.000000  168.000000  168.000000  168.000000
mean     0.553571    1.886905   30.814769    0.386905    0.363095   59.954144
std      0.498608    0.944100   15.434860    0.557213    0.660481   83.912994
min      0.000000    1.000000    0.420000    0.000000    0.000000    4.012500
25%      0.000000    1.000000   21.250000    0.000000    0.000000   13.697950
50%      1.000000    1.000000   29.000000    0.000000    0.000000   29.700000
75%      1.000000    3.000000   40.000000    1.000000    1.000000   78.500025
max      1.000000    3.000000   71.000000    2.000000    3.000000  512.329200

VariÃ¡vel: embarked, Valor: Q

       survived     pclass        age      sibsp      parch       fare
count  77.00000  77.000000  28.000000  77.000000  77.000000  77.000000
mean    0.38961   2.909091  28.089286   0.428571   0.168831  13.276030
std     0.49086   0.369274  16.915396   0.979105   0.656999  14.188047
min     0.00000   1.000000   2.000000   0.000000   0.000000   6.750000
25%     0.00000   3.000000  17.500000   0.000000   0.000000   7.750000
50%     0.00000   3.000000  27.000000   0.000000   0.000000   7.750000
75%     1.00000   3.000000  34.500000   0.000000   0.000000  15.500000
max     1.00000   3.000000  70.500000   4.000000   5.000000  90.000000

VariÃ¡vel: embarked, Valor: nan

       survived  pclass  age  sibsp  parch  fare
count       0.0     0.0  0.0    0.0    0.0   0.0
mean        NaN     NaN  NaN    NaN    NaN   NaN
std         NaN     NaN  NaN    NaN    NaN   NaN
min         NaN     NaN  NaN    NaN    NaN   NaN
25%         NaN     NaN  NaN    NaN    NaN   NaN
50%         NaN     NaN  NaN    NaN    NaN   NaN
75%         NaN     NaN  NaN    NaN    NaN   NaN
max         NaN     NaN  NaN    NaN    NaN   NaN

VariÃ¡vel: who, Valor: man

         survived      pclass         age       sibsp       parch        fare
count  537.000000  537.000000  413.000000  537.000000  537.000000  537.000000
mean     0.163873    2.372439   33.173123    0.296089    0.152700   24.864182
std      0.370506    0.823525   12.906908    0.850726    0.528089   44.021339
min      0.000000    1.000000   16.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   23.000000    0.000000    0.000000    7.854200
50%      0.000000    3.000000   30.000000    0.000000    0.000000    9.500000
75%      0.000000    3.000000   40.000000    0.000000    0.000000   26.387500
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

VariÃ¡vel: who, Valor: woman

         survived      pclass         age       sibsp       parch        fare
count  271.000000  271.000000  218.000000  271.000000  271.000000  271.000000
mean     0.756458    2.084871   32.000000    0.601476    0.564576   46.570711
std      0.430014    0.867196   11.495441    1.093685    1.033907   60.318995
min      0.000000    1.000000   16.000000    0.000000    0.000000    6.750000
25%      1.000000    1.000000   23.000000    0.000000    0.000000   10.500000
50%      1.000000    2.000000   30.000000    0.000000    0.000000   23.250000
75%      1.000000    3.000000   39.000000    1.000000    1.000000   65.000000
max      1.000000    3.000000   63.000000    8.000000    6.000000  512.329200

VariÃ¡vel: who, Valor: child

        survived     pclass        age      sibsp      parch        fare
count  83.000000  83.000000  83.000000  83.000000  83.000000   83.000000
mean    0.590361   2.626506   6.369518   1.734940   1.265060   32.785795
std     0.494757   0.619024   4.729063   1.638592   0.682255   33.466438
min     0.000000   1.000000   0.420000   0.000000   0.000000    7.225000
25%     0.000000   2.000000   2.000000   0.000000   1.000000   15.900000
50%     1.000000   3.000000   5.000000   1.000000   1.000000   26.250000
75%     1.000000   3.000000   9.500000   3.000000   2.000000   32.193750
max     1.000000   3.000000  15.000000   5.000000   2.000000  211.337500

VariÃ¡vel: adult_male, Valor: True

         survived      pclass         age       sibsp       parch        fare
count  537.000000  537.000000  413.000000  537.000000  537.000000  537.000000
mean     0.163873    2.372439   33.173123    0.296089    0.152700   24.864182
std      0.370506    0.823525   12.906908    0.850726    0.528089   44.021339
min      0.000000    1.000000   16.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   23.000000    0.000000    0.000000    7.854200
50%      0.000000    3.000000   30.000000    0.000000    0.000000    9.500000
75%      0.000000    3.000000   40.000000    0.000000    0.000000   26.387500
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

VariÃ¡vel: adult_male, Valor: False

         survived      pclass         age       sibsp       parch        fare
count  354.000000  354.000000  301.000000  354.000000  354.000000  354.000000
mean     0.717514    2.211864   24.932458    0.867232    0.728814   43.338655
std      0.450846    0.846774   15.275127    1.330360    1.007010   55.473168
min      0.000000    1.000000    0.420000    0.000000    0.000000    6.750000
25%      0.000000    1.000000   14.000000    0.000000    0.000000   12.475000
50%      1.000000    2.000000   24.000000    0.000000    0.000000   24.150000
75%      1.000000    3.000000   35.000000    1.000000    1.000000   51.766675
max      1.000000    3.000000   63.000000    8.000000    6.000000  512.329200

VariÃ¡vel: embark_town, Valor: Southampton

         survived      pclass         age       sibsp       parch        fare
count  644.000000  644.000000  554.000000  644.000000  644.000000  644.000000
mean     0.336957    2.350932   29.445397    0.571429    0.413043   27.079812
std      0.473037    0.789402   14.143192    1.216600    0.853253   35.887993
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    8.050000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   13.000000
75%      1.000000    3.000000   38.000000    1.000000    0.000000   27.900000
max      1.000000    3.000000   80.000000    8.000000    6.000000  263.000000

VariÃ¡vel: embark_town, Valor: Cherbourg

         survived      pclass         age       sibsp       parch        fare
count  168.000000  168.000000  130.000000  168.000000  168.000000  168.000000
mean     0.553571    1.886905   30.814769    0.386905    0.363095   59.954144
std      0.498608    0.944100   15.434860    0.557213    0.660481   83.912994
min      0.000000    1.000000    0.420000    0.000000    0.000000    4.012500
25%      0.000000    1.000000   21.250000    0.000000    0.000000   13.697950
50%      1.000000    1.000000   29.000000    0.000000    0.000000   29.700000
75%      1.000000    3.000000   40.000000    1.000000    1.000000   78.500025
max      1.000000    3.000000   71.000000    2.000000    3.000000  512.329200

VariÃ¡vel: embark_town, Valor: Queenstown

       survived     pclass        age      sibsp      parch       fare
count  77.00000  77.000000  28.000000  77.000000  77.000000  77.000000
mean    0.38961   2.909091  28.089286   0.428571   0.168831  13.276030
std     0.49086   0.369274  16.915396   0.979105   0.656999  14.188047
min     0.00000   1.000000   2.000000   0.000000   0.000000   6.750000
25%     0.00000   3.000000  17.500000   0.000000   0.000000   7.750000
50%     0.00000   3.000000  27.000000   0.000000   0.000000   7.750000
75%     1.00000   3.000000  34.500000   0.000000   0.000000  15.500000
max     1.00000   3.000000  70.500000   4.000000   5.000000  90.000000

VariÃ¡vel: embark_town, Valor: nan

       survived  pclass  age  sibsp  parch  fare
count       0.0     0.0  0.0    0.0    0.0   0.0
mean        NaN     NaN  NaN    NaN    NaN   NaN
std         NaN     NaN  NaN    NaN    NaN   NaN
min         NaN     NaN  NaN    NaN    NaN   NaN
25%         NaN     NaN  NaN    NaN    NaN   NaN
50%         NaN     NaN  NaN    NaN    NaN   NaN
75%         NaN     NaN  NaN    NaN    NaN   NaN
max         NaN     NaN  NaN    NaN    NaN   NaN

VariÃ¡vel: alive, Valor: no

       survived      pclass         age       sibsp       parch        fare
count     549.0  549.000000  424.000000  549.000000  549.000000  549.000000
mean        0.0    2.531876   30.626179    0.553734    0.329690   22.117887
std         0.0    0.735805   14.172110    1.288399    0.823166   31.388207
min         0.0    1.000000    1.000000    0.000000    0.000000    0.000000
25%         0.0    2.000000   21.000000    0.000000    0.000000    7.854200
50%         0.0    3.000000   28.000000    0.000000    0.000000   10.500000
75%         0.0    3.000000   39.000000    1.000000    0.000000   26.000000
max         0.0    3.000000   74.000000    8.000000    6.000000  263.000000

VariÃ¡vel: alive, Valor: yes

       survived      pclass         age       sibsp       parch        fare
count     342.0  342.000000  290.000000  342.000000  342.000000  342.000000
mean        1.0    1.950292   28.343690    0.473684    0.464912   48.395408
std         0.0    0.863321   14.950952    0.708688    0.771712   66.596998
min         1.0    1.000000    0.420000    0.000000    0.000000    0.000000
25%         1.0    1.000000   19.000000    0.000000    0.000000   12.475000
50%         1.0    2.000000   28.000000    0.000000    0.000000   26.000000
75%         1.0    3.000000   36.000000    1.000000    1.000000   57.000000
max         1.0    3.000000   80.000000    4.000000    5.000000  512.329200

VariÃ¡vel: alone, Valor: False

         survived      pclass         age       sibsp       parch        fare
count  354.000000  354.000000  310.000000  354.000000  354.000000  354.000000
mean     0.505650    2.169492   26.413452    1.316384    0.960452   48.832275
std      0.500676    0.864520   15.834923    1.420774    1.039512   55.307615
min      0.000000    1.000000    0.420000    0.000000    0.000000    6.495800
25%      0.000000    1.000000   16.000000    1.000000    0.000000   18.000000
50%      1.000000    2.000000   26.000000    1.000000    1.000000   27.750000
75%      1.000000    3.000000   37.000000    1.000000    2.000000   59.044800
max      1.000000    3.000000   70.000000    8.000000    6.000000  512.329200

VariÃ¡vel: alone, Valor: True

         survived      pclass         age  sibsp  parch        fare
count  537.000000  537.000000  404.000000  537.0  537.0  537.000000
mean     0.303538    2.400372   32.220297    0.0    0.0   21.242689
std      0.460214    0.804511   12.899871    0.0    0.0   42.223510
min      0.000000    1.000000    5.000000    0.0    0.0    0.000000
25%      0.000000    2.000000   22.000000    0.0    0.0    7.775000
50%      0.000000    3.000000   29.500000    0.0    0.0    8.137500
75%      1.000000    3.000000   39.000000    0.0    0.0   15.000000
max      1.000000    3.000000   80.000000    0.0    0.0  512.329200

In [12]:
resultado_consulta = df.query("embark_town == 'Cherbourg'").describe()
print(resultado_consulta)

         survived      pclass         age       sibsp       parch        fare
count  168.000000  168.000000  130.000000  168.000000  168.000000  168.000000
mean     0.553571    1.886905   30.814769    0.386905    0.363095   59.954144
std      0.498608    0.944100   15.434860    0.557213    0.660481   83.912994
min      0.000000    1.000000    0.420000    0.000000    0.000000    4.012500
25%      0.000000    1.000000   21.250000    0.000000    0.000000   13.697950
50%      1.000000    1.000000   29.000000    0.000000    0.000000   29.700000
75%      1.000000    3.000000   40.000000    1.000000    1.000000   78.500025
max      1.000000    3.000000   71.000000    2.000000    3.000000  512.329200

In [13]:
resultado_consulta = df.query("sex == 'male'").describe()
print(resultado_consulta)

         survived      pclass         age       sibsp       parch        fare
count  577.000000  577.000000  453.000000  577.000000  577.000000  577.000000
mean     0.188908    2.389948   30.726645    0.429809    0.235702   25.523893
std      0.391775    0.813580   14.678201    1.061811    0.612294   43.138263
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   29.000000    0.000000    0.000000   10.500000
75%      0.000000    3.000000   39.000000    0.000000    0.000000   26.550000
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

In [14]:
resultado_consulta = df.query("class == 'Third'").describe()
print(resultado_consulta)

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)